<% content_for :title, "Dicty12: Registration Form" %>

<%= form_for(@user, :url => registration_path) do |f| %>
  
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

  <%#= session[:where_from] %>
  
    <table>
        <tr>
            <td><%= f.label :first_name %></td>
            <td><%= f.text_field :first_name, :required => true, :mark => '*' %></td>
        </tr>
        <tr>
            <td><%= f.label :last_name %></td>
            <td><%= f.text_field :last_name, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :email %></td>
            <td><%= f.text_field :email, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :institute, "Institute Affiliation" %></td>
            <td><%= f.text_field :institute, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :address %></td>
            <td><%= f.text_field :address, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :city %></td>
            <td><%= f.text_field :city, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :zipcode %></td>
            <td><%= f.text_field :zipcode, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :country %></td>
            <td><%= f.text_field :country, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :phone %></td>
            <td><%= f.text_field :phone, :required => true %></td>
        </tr>
        <tr>
            <td>Passport #</td>
            <td><%= f.text_field :passport, :required => true %></td>
        </tr>
        <tr>
            <td>
                <label for="accommodation_type">Accommodation</label>
            </td>
            <td>
                <% [ 'Single use', 'Double use' ].each do |accommodation_type| %>
                    <%= f.radio_button 'accommodation_type', accommodation_type, :default => 'Single use' %>
                    <!-- , :default => 'Single use' -->
                    <%= accommodation_type.humanize %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td><%= label_tag 'Have an accompanying guest?' %></td>
            <td><%= f.check_box(:has_guest, :default => false) %></td>
        </tr>
    </table>

<p>
  <div class="actions">
    <%= f.submit "Register" %>
  </div>
</p> 
 
<% end %>
