<% content_for :title, "Dicty12: Update Registration" %>
<p id="notice"><%= notice %></p>

<h3>Editing registration</h3>

<%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
<%#= javascript_include_tag :defaults %> <!-- Issue with rails.js. Hence using jQuery.min.js -->
<%= javascript_include_tag "jquery", "jquery-ui-datepicker" %>
<%= stylesheet_link_tag "jquery-ui-datepicker" %>

<script type="text/javascript">

    $(document).ready(function() {

        $( '#user_check_in' ).datepicker({ dateFormat: 'MM d, yy' });
        $( '#user_check_out' ).datepicker({ dateFormat: 'MM d, yy' });

        $('#user_has_guest').attr('checked', false)
        $("#user_has_guest").click(function() {
            showGuestOptions()
        })

        $('#extra_view_price').hide()
        $('#extra_view_price').val('')
        $('#user_check_in').hide()
        $('#user_check_out').hide()
        $('#user_extra_accommodation').attr('checked', false)
        $("#user_extra_accommodation").click(function() {
            showExtraAccOptions()   
        })

        $('#user_guest_trip').hide()
        $('#user_guest_supplement_HB').hide()
        $('#user_guest_supplement_HBD').hide()
        $('label[for="label_guest_dinner_trip"]').hide()
        $('label[for="label_guest_supplement_1"]').hide()
        $('label[for="label_guest_supplement_2"]').hide()

        $('#view_price').hide()
        $('#user_roomie_first_name').hide()
        $('#user_roomie_last_name').hide()
        $('label[for="label_roomie_name"]').hide()

        $("input[type=radio]").attr('checked', false)
        $("input[type=radio]").click(function() {
            showPrice()
        })

        $('#final_amount').val('')  
        $('#final_amount').hide() 
        $('#final_amount').css({ 'font-weight': 'bold', 'font-size': '12px', 'color':'black', 'border': 'none', 'background-color':'white' });
        $('label[for="payment_due"]').hide()
    });

    $(document).click(function() {
        paymentDue()
    });


    function paymentDue () {
        var final_amount = 0;
        $('#final_amount').show()
        $('label[for="payment_due"]').show()
        
        if ($('#user_accommodation_type_single_use').is(':checked')) {
            if (getRegistrationType() == 'Early Registration'){
                final_amount += 830; 
            } else if (getRegistrationType() == 'Late Registration') {
                final_amount += 950; 
            }   
        } else if ($('#user_accommodation_type_double_use').is(':checked')) {
            if (getRegistrationType() == 'Early Registration'){
                final_amount += 675;
            } else if (getRegistrationType() == 'Late Registration') {
                final_amount += 795;
            }  
        }

        if ($('#user_has_guest').is(':checked')) {
            if ($('#user_guest_supplement_HB').is(':checked')){
                final_amount += 207;    
            } else if ($('#user_guest_supplement_HBD').is(':checked')){
                final_amount += 327;    
            } 
            if ($('#user_guest_trip').is(':checked')){
                final_amount += 63;    
            } 
        } 

        if ($('#user_extra_accommodation').is(':checked')){
            var num_days = 0;
            var oneDay  = 24*60*60*1000;
            var checkin = new Date($('#user_check_in').val())
            var checkout = new Date($('#user_check_out').val())
            num_days = Math.abs((checkout.getTime() - checkin.getTime()) / oneDay);

            if ($('#user_accommodation_type_single_use').is(':checked') && $('#user_check_in').val() != '' && $('#user_check_out').val() != '') {
                final_amount += 90.72 * num_days;      
            } else if ($('#user_accommodation_type_double_use').is(':checked') && $('#user_check_in').val() != '' && $('#user_check_out').val() != '') {
                final_amount += 103.68 * num_days;     
            }    
        }     
        var usd = currencyConverter(final_amount)
        $('#final_amount').val('€' + final_amount.toFixed(2))  
    }

    function currencyConverter (amount) {
        var from = 'EUR';
        var to = 'USD';
 
        var dataString = "a=" + amount + "&from=" + from + "&to=" + to;
 
        $.ajax({
            type: "GET",
            url: 'http://www.google.com/finance/converter?',
            data: dataString,
 
            success: function(data){
                var val = $.parseJSON(data);
                return val['rhs'];
            }
        });
    }

    function showExtraAccOptions() {
        $('#extra_view_price').css({ 'font-weight': 'bold', 'font-size': '12px', 'color':'black', 'border': 'none', 'background-color':'white' });
        if ($('#user_extra_accommodation').is(':checked')){
            $('#extra_view_price').show()
            $('#user_check_in').show()
            $('#user_check_out').show()
        } else {
            $('#extra_view_price').hide()   
            $('#user_check_in').hide()
            $('#user_check_out').hide()
            $('#user_check_in').val('')
            $('#user_check_out').val('')
        }
    }

    function getRegistrationType() {
        var registration_type;
        if (Date.now() < Date.parse("5/15/2012")) {
            registration_type = 'Early Registration'   
        } else if (Date.now() > Date.parse("5/15/2012") && Date.now() <  Date.parse("7/23/2012")) {
            registration_type = 'Late Registration'
        }    
        return registration_type;
    }

    function showPrice() {
        
        
        $('#view_price').show()
        $('#view_price').css({ 'font-weight': 'bold', 'font-size': '12px', 'color':'black', 'border': 'none', 'background-color':'white' });

        if ($('#user_accommodation_type_double_use').is(':checked')) {
            $('label[for="label_roomie_name"]').show()
            $('#user_roomie_first_name').show()
            $('#user_roomie_last_name').show()
        
            $('#extra_view_price').val('€103.68 (per night)')

            if (getRegistrationType() == 'Early Registration'){
                $('#view_price').val('Early Registration: €675 (per person)')
            } else if (getRegistrationType() == 'Late Registration') {
                $('#view_price').val('Late Registration: €795 (per person)')
            }
        } else if ($('#user_accommodation_type_single_use').is(':checked')) {
            $('#user_roomie_first_name').hide()
            $('#user_roomie_last_name').hide()
            $('label[for="label_roomie_name"]').hide()

            $('#extra_view_price').val('€90.72 (per night)')

            if (getRegistrationType() == 'Early Registration'){
                $('#view_price').val('Early Registration: €830')
            } else if (getRegistrationType() == 'Late Registration') {
                $('#view_price').val('Late Registration: €950')
            }
        }

        $('#user_accommodation_type_single_use').click(function() {
            $('#user_roomie_first_name').val('')
            $('#user_roomie_last_name').val('')
        })
    }

    function showGuestOptions() {
        if ($('#user_has_guest').is(':checked')){
            $('#user_guest_trip').show()
            $('#user_guest_supplement_HB').show()
            $('#user_guest_supplement_HBD').show()
            $('label[for="label_guest_dinner_trip"]').show()
            $('label[for="label_guest_supplement_1"]').show()
            $('label[for="label_guest_supplement_2"]').show()
        }else {
            $('#user_guest_trip').attr('checked', false)
            $('#user_guest_trip').hide()
            $('#user_guest_supplement_HB').attr('checked', false)
            $('#user_guest_supplement_HB').hide()
            $('#user_guest_supplement_HBD').attr('checked', false)
            $('#user_guest_supplement_HBD').hide()
            $('label[for="label_guest_dinner_trip"]').hide ()
            $('label[for="label_guest_supplement_1"]').hide ()
            $('label[for="label_guest_supplement_2"]').hide ()
          }

        $('#user_guest_supplement_HB').click(function() {
            $('#user_guest_supplement_HB').attr('checked', true)
            $('#user_guest_supplement_HBD').attr('checked', false)
        })

        $('#user_guest_supplement_HBD').click(function() {
            $('#user_guest_supplement_HB').attr('checked', false)
            $('#user_guest_supplement_HBD').attr('checked', true)
        })
    }

</script>

<%= form_for @user, :html => {:multipart => true, :method => 'put'} do |f| %>
  
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>We have <%= pluralize(@user.errors.count, "error") %> on the form</h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>   
    <% end %>

  <%#= session[:where_from] %>
  
    <table>
        <tr>
            <td><%= f.label :first_name %></td>
            <td><%= f.text_field :first_name, :required => true, :mark => '*' %></td>
        </tr>
        <tr>
            <td><%= f.label :last_name %></td>
            <td><%= f.text_field :last_name, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :email %></td>
            <td><%= f.text_field :email, :disabled=>true, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :institute, "Institute Affiliation" %></td>
            <td><%= f.text_field :institute, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :address %></td>
            <td><%= f.text_field :address, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :city %></td>
            <td><%= f.text_field :city, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :zipcode %></td>
            <td><%= f.text_field :zipcode, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :country %></td>
            <td><%= f.text_field :country, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :phone %></td>
            <td><%= f.text_field :phone, :required => true %></td>
        </tr>
        <!--
        <tr>
            <td>Passport #</td>
            <td><%#= f.text_field :passport, :required => true %></td>
        </tr>
        -->
        <tr>
            <td>
                <label for="accommodation_type">Accommodation</label>
            </td>
            <td>
                <%# [ 'Single use', 'Double use' ].each do |accommodation_type| %>
                  <%= f.radio_button(:accommodation_type, 'Single use', :required => true )%>
                  <%= label_tag 'single_use', 'Single use' %>
                  <%= f.radio_button(:accommodation_type, 'Double use', :required => true ) %>
                  <%= label_tag 'double_use', 'Double use' %>
                    <%#= f.radio_button 'accommodation_type', accommodation_type, :default => 'Single use', %>
                    <%#= accommodation_type.humanize %>
                <%# end %>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
              <%= text_field_tag 'view_price', '', :disabled=>true, :size => "45", :color => 'black' %>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
              <%= label_tag 'label_roomie_name', 'Person to share room:' %>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
              <%= f.text_field :roomie_first_name, :placeholder => "First Name", :size => "25" %>
              <%= f.text_field :roomie_last_name, :placeholder => "Last Name", :size => "25" %>
            </td>
        </tr>
        <tr>
            <td><%= label_tag 'Will you require extra accommodation?' %></td>
            <td>
                <%= f.check_box(:extra_accommodation, :default => false ) %>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
              <%= text_field_tag 'extra_view_price', '', :disabled=>true, :size => "45", :color => 'black' %>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <%= f.text_field :check_in, :placeholder => "Check-in", :size => "25" %>
                <%= f.text_field :check_out, :placeholder => "Check-out", :size => "25" %>
            </td>
        </tr>
        <tr>
            <td><%= label_tag 'Have an accompanying guest?' %></td>
            <td><%= f.check_box(:has_guest, :default => false, :onclick => 'showGuestOptions()') %></td>
          </tr>
        <tr>
            <td></td>
            <td>
              <%= f.check_box :guest_supplement_HB %>
              <%= label_tag 'label_guest_supplement_1', 'Accommodation Supplement (Hotel + Breakfast): €207' %>
            </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.check_box :guest_supplement_HBD %>
            <%= label_tag 'label_guest_supplement_2', 'Accommodation Supplement (Hotel + Breakfast + Dinner): €327' %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.check_box :guest_trip %>
            <%= label_tag 'label_guest_dinner_trip', 'Trip to Segovia (with Dinner): €63', :type => 'text' %>
          </td>
        </tr>
        <tr>
          <td><%= label_tag 'label_comments', 'Comments', :type => 'text' %></td>
          <td>
            <%= f.text_area :comment, :rows => 5, :cols => 26 %>
          </td>
        </tr>
        <tr>
            <td><hr /></td>
            <td><hr /></td>
        </tr>
        <tr>
          <td><%= label_tag 'payment_due', 'Total Amount Due', :type => 'text' %></td>
          <td>
            <%= text_field_tag 'final_amount', '', :disabled=>true, :color => 'black' %>
          </td>
        </tr>

    </table>


<p>
  <div class="actions">
    <%= f.submit "Update" %> 
    <%= submit_tag 'Cancel', :action => 'show' %>
  </div>
</p> 
 
<% end %>

