<% content_for :title, "Dicty13: Payment" %>

<br/>
<div class="container">
	<p>
	Total amount due is <b><%= @user.payment_due %></b>. You will have to proceed to secure credit card payment form to make the payment.	
	</p>
	<p>* The HMAC::MD5 hash generated for you - <b><%= session[:x_fp_hash] %></b></p>
	<br/>

	<%= form_tag( FIRSTDATA_URL, :method => "post") do %>
		<%= hidden_field_tag 'x_fp_hash', session[:x_fp_hash] %>
		<%= submit_tag "Proceed to Checkout" %>
	<% end %>

	<br/>
	<i>* Display of hash is just for staging. It will be taken out once the credit card payment system is fully functional</i>

</div>
