<% content_for :title, "Dicty13: Registration Details" %>

<p id="notice"><%= notice %></p>

<h4>You registered on <%= l @user.created_at.to_date, :format => :long %> at <%= l @user.created_at, :format => :am_pm %> </h4> 

<p>
<b>First name:</b>
<%= @user.first_name %>
</p>

<p>
<b>Last name:</b>
<%= @user.last_name %>
</p>

<p>
<b>Email:</b>
<%= @user.email %>
</p>

<p>
<b>Institute Affiliation:</b>
<%= @user.institute %>
</p>

<p>
<b>Address:</b>
<%= @user.address %>
</p>

<p>
<b>City:</b>
<%= @user.city %>
</p>

<p>
<b>Zipcode:</b>
<%= @user.zipcode %>
</p>

<p>
<b>Country:</b>
<%= @user.country %>
</p>

<p>
<b>Phone:</b>
<%= @user.phone %>
</p>
<br/>
<p>
<b>Excursion:</b>
<%= @user.excursion_type %>
</p>
<p>
<b>Accommodation type:</b>
<%= @user.accommodation_type %>
</p>

<p>
<b>Accompanying guest:</b>
<%= @user.has_guest ? 'Yes': 'No'  %>
</p>

<% if @user.accommodation_type == 'Double use' %>
	<p>
	<b>Sharing room with:</b> <%= @user.roomie_first_name %> <%= @user.roomie_last_name %>
</p>
<% end %>


<% if  @user.extra_accommodation %>
	<p><b>Will you require extra accommodation?</b> <%= @user.extra_accommodation ? 'Yes': 'No' %> <p>
	<p><%= l @user.check_in, :format => :long %> - <%= l @user.check_out, :format => :long %></p>
<% end %>

<br/>
<% if @user.guest_trip or @user.guest_single_BDB or @user.guest_single_no_BDB or @user.guest_double_BDB or @user.guest_double_no_BDB %>
	<p><b>Supplementary Packages: </b></p>

	<ul>
		<% if @user.accommodation_type == 'Single use' %>
			<% if @user.guest_single_BDB %>
				<li><b>4 nights in single with Breakfast, Dinner and Banquet: $738.00 - </b><%= @user.guest_single_BDB ? 'Yes': 'No' %></li>
			<% elsif @user.guest_single_no_BDB %>
				<li><b>4 nights in single without Breakfast, Dinner and Banquet: $536.00 - </b><%= @user.guest_single_no_BDB ? 'Yes': 'No' %></li>
			<% end %>
		<% elsif @user.accommodation_type == 'Double use' %>
			<% if @user.guest_double_BDB %>
				<li><b>4 nights in double with Breakfast, Dinner and Banquet: $470.00 - </b><%= @user.guest_double_BDB ? 'Yes': 'No' %></li>
			<% elsif @user.guest_double_no_BDB %>
				<li><b>4 nights in double without Breakfast, Dinner and Banquet: $268.00 - </b><%= @user.guest_double_no_BDB ? 'Yes': 'No' %></li>
			<% end %>
		<% end %>

		<% if @user.guest_trip %>
			<li><b>Excursion: $50 - </b><%= @user.guest_trip ? 'Yes': 'No' %></li>
		<% end %>
	</ul>
<% end %>

<br/>
<hr/>

<p>
<b>Total expenses:</b> <%= @user.payment_due %>
</p>

<hr />

<% if !@user.comment.empty?%>
	<p>
	<b>Comments:</b>
	</p>
	<p>
	<%= @user.comment %>
	</p>
<% end %>
