<% content_for :title, "Dicty13: Admin" %>

<%= javascript_include_tag "jquery.dataTables.nightly", "jquery", "jquery-dataTables", "TableTools", "ZeroClipboard" %>
<%= stylesheet_link_tag "jquery-dataTables", "jquery-ui-overcast", "TableTools", "TableTools_JUI" %>

<script type="text/javascript">
	$(document).ready(function() {
			$('#users').dataTable( {
				"sScrollX": "200px",
				"bJQueryUI": false,
				"bPaginate": true,
				"sPaginationType": /*"two_button",*/ "full_numbers",
				"bLengthChange": true,
				"bSort": true,
				//"bInfo": false,
				"bAutoWidth": true,

				"iDisplayLength": 10,
				"sDom": 'CT<"clear">lfrtip',
				//"sDom": 'T<"clear"><"H"lTf>rt<"F"ip>',
				"oTableTools": {
				"aButtons": [
				"print",
				{
				"sExtends": "csv",
				"sFileName": "Dicty12_registrations.csv",
				"bFooter": false
				},
				{
					"sExtends": "pdf",
					"sFileName": "Dicty13_registrations.pdf",
					"sTitle": "Dicty13 Registrations",
					"sPdfOrientation": "landscape"
				}
			]

				}
			} );
	} );
</script>

<% if is_admin? and logged_in? %>
	<h4>You are logged in as an ADMIN</h4>
	<h3>Registrations for Annual International Dictyostelium Conference 2013</h3>
	<br/>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="users">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Registered on</th>
				<th>Comments</th>
				<th>Affiliation</th>
				<th>Country</th>
				<th>Phone</th>
				<th>Excursion</th>
				<th>Accommodation</th>
				<th>Payment due</th>
			</tr>
		</thead>
		<tbody>
			<% (User.find(:all, :conditions => {:is_registered => true})).each do |user| %>
				<tr id="<%= dom_id(user) %>">
					<td><%= user.first_name %></td>
					<td><%= user.last_name %></td>
					<td><%= user.email %></td>
					<td><%= l user.created_at.to_date, :format => :long %></td>
					<td><%= user.comment %></td>
					<td><%= user.institute %></td>
					<td><%= user.country %></td>
					<td><%= user.phone %></td>
					<td><%= user.excursion_type %></td>
					<td><%= user.accommodation_type %></td>
					<td><%= user.payment_due %></td>
				</tr>  
			<% end %>
		</tbody>
	</table>
	<div style="clear:both"></div>
<% end %>

