<% content_for :title, "Dicty13: New User" %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <table>
        <tr>
            <td><%= f.label :first_name %></td>
			<td><%= f.text_field :first_name, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :last_name %></td>
			<td><%= f.text_field :last_name, :required => true %></td>
        </tr>
        <tr>
            <td><%= f.label :email %></td>
			<td><%= f.text_field :email, :required => true %></td>
        </tr>
    </table>
<p>
  <div class="actions">
    <%= f.submit %>
  </div>
</p>  
<% end %>
