<% content_for :title, "Dicty12: Registration" %>

<h3>Registration Form</h3>

<% form_for :user do |f| %>
	<p> First Name: <br />  <%= f.text_field :name %></p>
	<p> Last name:<br /><%= f.text_field :login %></p>
	<p> Address: <br />  <%= f.text_field :name %></p>
	<p> City:<br /><%= f.text_field :login %></p>
	<p> Zip code: <br />  <%= f.text_field :password %></p>
	<p> Country:<br /> <%= f.text_field :email %></p>
	<p> Email:<br /> <%= f.text_field :email %></p>
	<p> Phone number:<br /> <%= f.text_field :email %></p>
	<p> Passport #: <br />  <%= f.text_field :password %></p>
	<p><%= submit_tag 'Submit' %></p>
<% end %>