<% content_for :title, "Dicty12: Sponsors" %>

<h3>Our Sponsors</h3>
<br/>
<div class="sponsors">
    <ul>
        <li>

            <div>
              <%= image_tag("dicty12_sponsors.jpg") %>
              <br/><br/><br/><br/><br/>
            </div>
            <div>
                <h4>Ministerio de Economía y Competitividad</h4>
                <%= link_to("http://www.mineco.gob.es/portal/site/mineco", "http://www.mineco.gob.es/portal/site/mineco", :target => "_blank") %>
            </div>

            <div>
              <%= image_tag("formedium-logo.jpg") %>
              <br/><br/><br/><br/><br/>
            </div>
            <div>
                <h4>Formedium</h4>
                <%= link_to("http://www.formedium.com/","http://www.formedium.com/", :target => "_blank") %>
            </div>

            <div>
              <%= image_tag("csic-logo.jpg") %>
              <br/><br/><br/><br/><br/>
            </div>
            <div>
                <h4>Consejo Superior de Investigaciones Cientίficas</h4>
                <%= link_to("http://www.csic.es/web/guest/home","http://www.csic.es/web/guest/home", :target => "_blank") %>
            </div>


        </li>
    </ul>
</div>
