<% content_for :title, "Dicty12: Abstracts" %>

<%= javascript_include_tag "jquery.dataTables.nightly", "jquery", "jquery-dataTables", "TableTools", "ZeroClipboard" %>
<%= stylesheet_link_tag "jquery-dataTables", "jquery-ui-overcast", "TableTools", "TableTools_JUI" %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#abstract').dataTable( {
      //"sScrollX": "500px",
      "bJQueryUI": false,
      "bPaginate": true,
      "sPaginationType": /*"two_button",*/ "full_numbers",
      "bLengthChange": true,
      "bSort": true,
      //"bInfo": false,
      "bAutoWidth": true,

      /*"iDisplayLength": 20,
      "sDom": 'CT<"clear">lfrtip',
      //"sDom": 'T<"clear"><"H"lTf>rt<"F"ip>',
      "oTableTools": {
        "aButtons": [
          "print",
          {
            "sExtends": "csv",
            "sFileName": "Dicty12_registrations.csv",
            "bFooter": false
          },
          {
            "sExtends": "pdf",
            "sFileName": "Dicty12_registrations.pdf",
            "sTitle": "Dicty12 Registrations",
            "sPdfOrientation": "landscape"
          }
        ]
      
      }*/

      } );
  } );
</script>

<h3>Please submit your abstract no later than June 15, 2012</h3>

<b>The abstract book is available and can be viewed <a href="<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/Dicty12_Abstract_Book.pdf">here</a></b>.

<h4>Abstracts</h4>
<p>To submit your abstracts, please fill out all fields (the 'Note to organizers' field is optional). Abstracts should not exceed 300 words.</p>

<h4>Talks:</h4>
<p>Please plan your talk to be 15 minutes long; your slot will be a maximum of 25 minutes including questions. Please bring your talk on a USB stick or similar, ready to load onto a PC or Mac computer the day of your talk. If you wish to bring your own laptop,  please contact the organisers at the meeting before your scheduled talk.</p>

<h4>Posters:</h4>
</p>The poster size should be 90 cm wide x 110 cm high.</p>

<% if is_admin? %>
	<h4>You are logged in as an ADMIN</h4>
<% end %>
<h3>Submitted abstracts</h3>

<% if @abstracts.empty? %>
  — No abstracts submitted yet —
<% elsif logged_in? %>
  <table class="display" id="abstract">
    <thead>
    <tr>
      <th>Title</th>
      <th>Presenter</th>
      <th>Type</th>
      <th>Submitted</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @abstracts.each do |abstract| %>
      <tr>
        <td>
          <!-- <p class="title"> -->
          <%= link_to abstract.title, abstract_path(abstract.id) %>
          <!-- </p>  -->
          <!-- <p class="presenter"><%#=h abstract.presenter %></p> -->
        </td>
        <td><%=h abstract.presenter %></td>
        <td class="type"><%=h abstract.abstract_type %></td>
        <td>
          <span><%= format_date(abstract.created_at) %></span>
        </td>
        <td>
            <%= link_to 'Show', abstract %> | 
            <%= link_to 'Edit', edit_abstract_path(abstract.id) if can_edit?(abstract) %> | 
            <%= link_to 'Destroy', abstract, :confirm => 'Are you sure?', :method => :delete if is_admin? %></td>
        </td>
    <% end %>
  </tbody>
  </table>
<% else %>
   You have to be logged in to see submitted abstracts
 <% end %>

<br/><br/>

 <!-- <h3>Abstract submission: </h3> -->

<% if abstract_submission_open? %>
	<% if logged_in? %>
   		<p class="button" align="center">
       		<%= link_to image_tag("submit-abstract.png", :border=>0), new_abstract_path %>
   		</p>
   	<% else %>
   		<p class="button" align="center">
       		<%= link_to image_tag("submit-abstract.png", :border=>0), login_path %>
   		</p>
   	<% end %>
<% end %>

 <!-- <p>Coming soon...</p> -->
