<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title><%= h(yield(:title) || "Dicty12") %></title>
        <%= stylesheet_link_tag 'scaffold' %>
        <%= yield(:head) %>
    </head>
    <body>
        <div id="wrapper">
    		<div id="container" class="centered">
    		    <div id="header">
            		<!--<div id="descriptor">
                        Annual International Dictyostelium Conference<br/>
                        July 29 - August 2, 2012<br/>
                        Madrid, Spain
                    </div>
                    <div id="descriptor-title">
                        
                    </div>-->
                    <div id="menu">
                        <table>
                            <tr>
                                <td>
                                    <%= link_to 'Home', :controller => 'home',  :action => 'index' %>
                                </td>
                                <td>
                                    <%= link_to 'Agenda', :controller => 'home',  :action => 'agenda' %>
                                </td>
                                <td>
                                    <%= link_to 'Registration', :controller => 'home',  :action => 'registration' %>
                                </td>
                                <td>
                                    <%= link_to 'Transport', :controller => 'home',  :action => 'transport' %>
                                </td>
                                <td>
                                    <%= link_to 'Abstract', abstracts_path %>
                                </td>
                                <td>
                                    <%= link_to 'Sponsors', :controller => 'home',  :action => 'sponsors' %>
                                </td>
                            </tr>
                        </table>
                    </div>
            	</div>
            	<div id="content">
        		    <%= content_for?(:content) ? yield(:content) : yield %>
        		</div>
             	<div id="footer">
             	    <!--<br/><br/><br/>
					Header image credits: Carlos<br/>
            	    <a href="http://dictybase.org">dictyBase.org</a>, 2012-->

                    <p style="text-align:center;">
                        Header image credits: Carlos Suárez
                    </br>
                        &copy; <a href="http://dictybase.org">dictyBase.org</a> 2012
                    </p>
            	</div>
        	</div>	
        </div>
    </body>
</html>
